- const svgPwrSymbol = `<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'><path d='M136.68,123.21A34.59,34.59,0,0,0,91.31,71a251.26,251.26,0,1,0,327.85-1.32,34.59,34.59,0,0,0-44.95,52.6,181.94,181.94,0,0,1,63.86,138.49c0,100.39-81.68,182.07-182.07,182.07S73.93,361.13,73.93,260.74A182.09,182.09,0,0,1,136.68,123.21Z'/><path d='M290.59,277V34.59a34.59,34.59,0,0,0-69.19,0V277A34.59,34.59,0,1,0,290.59,277Z'/></svg>`;


svg(xmlns='http://www.w3.org/2000/svg' id='svg-card-label' width='0' height='0' style='visibility:hidden;')
  defs
    linearGradient(id='gradient-strings' x1='0' x2='0' y1='0' y2='.01865' gradientUnits='objectBoundingBox' spreadMethod='reflect' gradientTransform='rotate(-33.5)')
      stop(offset='0%' stop-color='white')
      stop(offset='60%' stop-color='hsl(0, 0%, 60%)')
      stop(offset='100%' stop-color='white')

  symbol(id='icon-cc' viewBox='0 0 64 64' width='64' height='64')
    path(fill='var(--color-icon-cc-fill, transparent)' d='M61.121 32.001c0 15.926-12.91 28.836-28.836 28.836-15.926 0-28.836-12.91-28.836-28.836 0-15.926 12.91-28.836 28.836-28.836 15.926 0 28.836 12.91 28.836 28.836z')
    path(fill='var(--color-icon-cc, currentColor)' d='M31.941 0c8.951 0 16.572 3.125 22.857 9.372 3.008 3.009 5.295 6.448 6.857 10.314 1.561 3.867 2.344 7.971 2.344 12.314 0 4.381-.773 8.486-2.314 12.313-1.543 3.828-3.82 7.21-6.828 10.143-3.123 3.085-6.666 5.448-10.629 7.086-3.961 1.638-8.057 2.457-12.285 2.457s-8.276-.808-12.143-2.429c-3.866-1.618-7.333-3.961-10.4-7.027-3.067-3.066-5.4-6.524-7-10.372C.8 40.323 0 36.267 0 32c0-4.229.809-8.295 2.428-12.2C4.047 15.895 6.4 12.4 9.485 9.314 15.58 3.106 23.065 0 31.941 0zm.116 5.772c-7.314 0-13.467 2.553-18.458 7.657-2.515 2.553-4.448 5.419-5.8 8.6a25.204 25.204 0 00-2.029 9.972c0 3.429.675 6.734 2.029 9.913 1.353 3.183 3.285 6.021 5.8 8.516 2.514 2.496 5.351 4.399 8.515 5.715a25.652 25.652 0 009.943 1.971c3.428 0 6.75-.665 9.973-1.999 3.219-1.335 6.121-3.257 8.713-5.771 4.99-4.876 7.484-10.99 7.484-18.344 0-3.543-.648-6.895-1.943-10.057-1.293-3.162-3.18-5.98-5.654-8.458-5.146-5.143-11.335-7.715-18.573-7.715zm-.401 20.915l-4.287 2.229c-.458-.951-1.019-1.619-1.685-2-.667-.38-1.286-.571-1.858-.571-2.856 0-4.286 1.885-4.286 5.657 0 1.714.362 3.084 1.085 4.113.724 1.029 1.791 1.544 3.201 1.544 1.867 0 3.181-.915 3.944-2.743l3.942 2c-.838 1.563-2 2.791-3.486 3.686-1.484.896-3.123 1.343-4.914 1.343-2.857 0-5.163-.875-6.915-2.629-1.752-1.752-2.628-4.19-2.628-7.313 0-3.048.886-5.466 2.657-7.257 1.771-1.79 4.009-2.686 6.715-2.686 3.963-.002 6.8 1.541 8.515 4.627zm18.457 0l-4.229 2.229c-.457-.951-1.02-1.619-1.686-2-.668-.38-1.307-.571-1.914-.571-2.857 0-4.287 1.885-4.287 5.657 0 1.714.363 3.084 1.086 4.113.723 1.029 1.789 1.544 3.201 1.544 1.865 0 3.18-.915 3.941-2.743l4 2c-.875 1.563-2.057 2.791-3.541 3.686a9.233 9.233 0 01-4.857 1.343c-2.896 0-5.209-.875-6.941-2.629-1.736-1.752-2.602-4.19-2.602-7.313 0-3.048.885-5.466 2.658-7.257 1.77-1.79 4.008-2.686 6.713-2.686 3.962-.002 6.783 1.541 8.458 4.627z')
  symbol(id='icon-cc-by' viewBox='0 0 64 64' width='64' height='64')
    path(fill='var(--color-icon-cc-fill, transparent)' d='M60.413 32.306c0 15.616-12.66 28.276-28.276 28.276S3.861 47.922 3.861 32.306 16.521 4.03 32.137 4.03s28.276 12.66 28.276 28.276z')
    path(fill='var(--color-icon-cc, currentColor)' d='M31.943 0c8.988 0 16.57 3.085 22.742 9.257C60.893 15.467 64 23.048 64 32c0 8.991-3.049 16.476-9.145 22.456C48.379 60.819 40.742 64 31.943 64c-8.649 0-16.153-3.144-22.514-9.43C3.144 48.284 0 40.762 0 32c0-8.761 3.144-16.342 9.429-22.742C15.601 3.085 23.104 0 31.943 0zm.114 5.772c-7.276 0-13.428 2.553-18.457 7.657-5.22 5.334-7.829 11.525-7.829 18.572 0 7.086 2.59 13.22 7.77 18.398 5.181 5.182 11.352 7.771 18.514 7.771 7.123 0 13.334-2.607 18.629-7.828 5.029-4.838 7.543-10.952 7.543-18.343 0-7.276-2.553-13.465-7.656-18.571-5.104-5.104-11.276-7.656-18.514-7.656zm8.572 18.285v13.085h-3.656v15.542h-9.944V37.143h-3.656V24.057c0-.572.2-1.057.599-1.457.401-.399.887-.6 1.457-.6h13.144c.533 0 1.01.2 1.428.6.417.4.628.886.628 1.457zm-13.087-8.228c0-3.008 1.485-4.514 4.458-4.514s4.457 1.504 4.457 4.514c0 2.971-1.486 4.457-4.457 4.457s-4.458-1.486-4.458-4.457z')
  symbol(id='icon-cc-nc' viewBox='0 0 64 64' width='64' height='64')
    path(fill='var(--color-icon-cc-fill, transparent)' d='M61.441 32.236c0 16.276-13.195 29.471-29.471 29.471S2.499 48.512 2.499 32.236 15.694 2.765 31.97 2.765 61.441 15.96 61.441 32.236z')
    path(fill='var(--color-icon-cc, currentColor)' d='M31.942 0c8.99 0 16.571 3.085 22.743 9.256C60.893 15.428 64 23.009 64 32c0 8.992-3.048 16.476-9.145 22.458C48.38 60.82 40.741 64 31.942 64c-8.686 0-16.19-3.162-22.513-9.485C3.144 48.228 0 40.725 0 32c0-8.762 3.144-16.343 9.429-22.743C15.6 3.086 23.104 0 31.942 0zM7.2 23.372C6.248 26 5.771 28.877 5.771 32.001c0 7.086 2.59 13.22 7.77 18.4 5.219 5.144 11.391 7.715 18.514 7.715 7.201 0 13.409-2.608 18.63-7.829 1.867-1.79 3.332-3.657 4.398-5.602l-12.056-5.371c-.421 2.02-1.439 3.667-3.057 4.942-1.622 1.276-3.535 2.011-5.744 2.2v4.915h-3.714v-4.915c-3.543-.036-6.782-1.312-9.714-3.827l4.4-4.457c2.094 1.942 4.476 2.913 7.143 2.913 1.104 0 2.048-.246 2.83-.743.78-.494 1.172-1.312 1.172-2.457 0-.801-.287-1.448-.858-1.943L32.4 34.627l-3.771-1.715-5.086-2.229L7.2 23.372zM32.057 5.714c-7.276 0-13.428 2.571-18.457 7.714a30.623 30.623 0 00-3.543 4.287L22.286 23.2c.533-1.676 1.542-3.019 3.029-4.028 1.484-1.009 3.218-1.571 5.2-1.686v-4.915h3.715v4.915c2.934.153 5.6 1.143 8 2.971l-4.172 4.286c-1.793-1.257-3.619-1.885-5.486-1.885-.991 0-1.876.191-2.656.571-.781.381-1.172 1.029-1.172 1.943 0 .267.095.533.285.8l4.057 1.83 2.8 1.257 5.144 2.285 16.397 7.314a29.51 29.51 0 00.801-6.857c0-7.353-2.552-13.543-7.656-18.573-5.067-5.143-11.241-7.714-18.515-7.714z')
  symbol(id='icon-cc-nd' viewBox='0 0 64 64' width='64' height='64')
    path(fill='var(--color-icon-cc-fill, transparent)' d='M61.077 31.788c0 16.023-12.989 29.013-29.013 29.013-16.023 0-29.012-12.99-29.012-29.013 0-16.023 12.989-29.013 29.012-29.013 16.024 0 29.013 12.99 29.013 29.013z')
    path(fill='var(--color-icon-cc, currentColor)' d='M31.944 0c8.952 0 16.533 3.105 22.744 9.314 6.207 6.172 9.313 13.732 9.313 22.686s-3.049 16.457-9.146 22.514C48.418 60.838 40.779 64 31.943 64c-8.649 0-16.153-3.143-22.514-9.43C3.144 48.286 0 40.762 0 32.001c0-8.724 3.144-16.285 9.429-22.685C15.64 3.105 23.145 0 31.944 0zm.117 5.771c-7.276 0-13.43 2.571-18.459 7.715C8.382 18.783 5.773 24.954 5.773 32c0 7.125 2.59 13.257 7.77 18.4 5.181 5.182 11.352 7.771 18.516 7.771 7.123 0 13.332-2.609 18.627-7.828 5.028-4.876 7.543-10.989 7.543-18.343 0-7.312-2.554-13.484-7.657-18.514-5.067-5.144-11.238-7.715-18.511-7.715zm12.056 18.685v5.485H20.86v-5.485h23.257zm0 10.287v5.482H20.86v-5.482h23.257z')
  symbol(id='icon-cc-sa' viewBox='0 0 64 64' width='64' height='64')
    path(fill='var(--color-icon-cc-fill, transparent)' d='M60.549 32.131c0 16.074-13.031 29.105-29.105 29.105-16.074 0-29.105-13.031-29.105-29.105 0-16.074 13.031-29.105 29.105-29.105 16.074 0 29.105 13.031 29.105 29.105z')
    path(fill='var(--color-icon-cc, currentColor)' d='M31.943 0c8.951 0 16.531 3.105 22.742 9.315C60.893 15.487 64 23.048 64 32c0 8.954-3.049 16.457-9.145 22.514C48.418 60.838 40.779 64 31.943 64c-8.649 0-16.153-3.143-22.514-9.429C3.144 48.286 0 40.764 0 32.001c0-8.723 3.144-16.285 9.429-22.685C15.638 3.105 23.143 0 31.943 0zm.114 5.772c-7.276 0-13.428 2.572-18.457 7.715C8.38 18.783 5.771 24.954 5.771 32c0 7.125 2.59 13.257 7.77 18.4 5.181 5.182 11.352 7.771 18.514 7.771 7.123 0 13.334-2.609 18.629-7.828 5.029-4.876 7.543-10.99 7.543-18.343 0-7.313-2.553-13.485-7.656-18.513-5.067-5.145-11.239-7.715-18.514-7.715zM17.771 27.485c.609-3.924 2.189-6.962 4.742-9.114 2.552-2.152 5.656-3.228 9.314-3.228 5.027 0 9.029 1.62 12 4.856 2.971 3.238 4.457 7.391 4.457 12.457 0 4.915-1.543 9-4.627 12.256-3.088 3.256-7.086 4.886-12.002 4.886-3.619 0-6.743-1.085-9.371-3.257-2.629-2.172-4.209-5.257-4.743-9.257H25.6c.19 3.886 2.533 5.829 7.029 5.829 2.246 0 4.057-.972 5.428-2.914 1.373-1.942 2.059-4.534 2.059-7.771 0-3.391-.629-5.971-1.885-7.743-1.258-1.771-3.066-2.657-5.43-2.657-4.268 0-6.667 1.885-7.2 5.656h2.343l-6.342 6.343-6.343-6.343 2.512.001z')
  
  symbol(id='svg-card-logo' viewBox='0 0 390.12 341.794' width='390.12' height='341.794')
    path(fill='var(--color-logo-soundhole, currentColor)' d='M195.06 32.801c76.047 0 137.696 61.787 137.696 138.007S271.107 308.815 195.06 308.815 57.364 247.028 57.364 170.808 119.013 32.801 195.06 32.801zm0 24.175c-62.683.001-113.519 50.952-113.519 113.832 0 62.879 50.836 113.831 113.519 113.831 62.683 0 113.52-50.952 113.52-113.831 0-62.88-50.837-113.831-113.52-113.832z')
    path(stroke='var(--color-logo-strings, currentColor)' stroke-width='5' stroke-linecap='round' fill='none' d='M103.854 333.294L381.62 172.926M84.984 300.609l277.765-160.368M66.113 267.924l277.766-160.368M47.242 235.238L325.008 74.87M28.371 202.553L306.137 42.185M9.5 169.869L287.266 9.5')
    //- circle(cx='50%' cy='50%' r='34.3%' fill='none' stroke='hsla(240, 100%, 90%, .8)' stroke-width='6.6%')
    
  symbol(id='svg-card-header' viewBox='0 0 321.173 84.714' width='321.173' height='84.714')
    path(fill='var(--color-card-title, currentColor)' d='M296.477 0q6.999 0 12.972 2.273 5.973 2.272 10.598 6.294l-2.252 2.977q-1.85-1.569-4.103-2.936-2.252-1.368-4.746-2.353-2.494-.986-5.189-1.569t-5.43-.583q-5.872 0-10.417 2.132-4.545 2.131-7.642 5.832-3.097 3.7-4.706 8.648-1.609 4.947-1.609 10.618 0 5.551 1.589 10.458 1.588 4.907 4.665 8.607 3.077 3.701 7.622 5.853 4.546 2.152 10.418 2.152 2.815 0 5.711-.564 2.896-.563 5.591-1.649 2.695-1.086 5.088-2.654 2.394-1.569 4.244-3.58l2.293 2.936q-4.747 4.505-11.021 7.039-6.275 2.534-13.676 2.534-4.464 0-8.567-1.106t-7.662-3.158q-3.56-2.051-6.476-4.886-2.916-2.836-4.988-6.295-2.071-3.459-3.217-7.421-1.147-3.962-1.147-8.266t1.147-8.326q1.146-4.022 3.217-7.501 2.072-3.479 4.988-6.335 2.916-2.856 6.476-4.887 3.559-2.031 7.662-3.158Q292.013 0 296.477 0zM254.003 61.057h-8.849V1.247h8.849zM216.194 0q2.655 0 4.646.242 1.991.241 3.74.663 1.75.423 3.48.986 1.729.563 3.861 1.247l-.161 4.223q-1.529-.523-3.097-1.006-1.569-.482-3.278-.844-1.71-.362-3.64-.584-1.931-.221-4.143-.221-1.006 0-2.333.322-1.327.322-2.534 1.086-1.207.764-2.051 2.011-.845 1.247-.845 3.097 0 1.73 1.367 4.042 1.368 2.313 4.586 5.772l7.079 7.643q2.333 2.413 4.485 4.766 2.151 2.353 3.76 4.625 1.609 2.273 2.575 4.505.965 2.233.965 4.405 0 4.223-1.549 7.179-1.548 2.956-4.022 4.787-2.473 1.83-5.611 2.674-3.137.845-6.274.845-2.736 0-5.109-.302-2.373-.301-4.525-.885-2.152-.583-4.122-1.448-1.971-.864-3.902-1.991l.523-4.343q1.569.724 3.218 1.468t3.358 1.327q1.71.583 3.479.945 1.77.362 3.54.362 5.913 0 8.929-2.433 3.017-2.434 3.017-7.059 0-1.408-.623-2.856-.624-1.448-1.71-2.997-1.086-1.548-2.554-3.197-1.468-1.649-3.117-3.459l-7.16-7.803q-2.735-3.339-4.585-5.712-1.85-2.373-2.956-4.223-1.107-1.85-1.569-3.399-.463-1.549-.463-3.238 0-3.258 1.328-5.41 1.327-2.152 3.499-3.439t4.907-1.83Q213.338 0 216.194 0zM175.047 0q2.654 0 4.645.242 1.991.241 3.741.663 1.75.423 3.479.986 1.73.563 3.862 1.247l-.161 4.223q-1.529-.523-3.097-1.006-1.569-.482-3.278-.844-1.71-.362-3.641-.584-1.93-.221-4.142-.221-1.006 0-2.333.322-1.328.322-2.534 1.086-1.207.764-2.052 2.011-.844 1.247-.844 3.097 0 1.73 1.367 4.042 1.368 2.313 4.586 5.772l7.079 7.643q2.333 2.413 4.484 4.766 2.152 2.353 3.761 4.625 1.609 2.273 2.574 4.505.966 2.233.966 4.405 0 4.223-1.549 7.179-1.548 2.956-4.022 4.787-2.474 1.83-5.611 2.674-3.137.845-6.275.845-2.735 0-5.108-.302-2.373-.301-4.525-.885-2.152-.583-4.123-1.448-1.97-.864-3.901-1.991l.523-4.343q1.568.724 3.218 1.468 1.649.744 3.358 1.327 1.71.583 3.479.945 1.77.362 3.54.362 5.912 0 8.929-2.433 3.017-2.434 3.017-7.059 0-1.408-.624-2.856-.623-1.448-1.709-2.997-1.086-1.548-2.554-3.197-1.468-1.649-3.117-3.459l-7.16-7.803q-2.735-3.339-4.585-5.712-1.85-2.373-2.957-4.223-1.106-1.85-1.568-3.399-.463-1.549-.463-3.238 0-3.258 1.328-5.41 1.327-2.152 3.499-3.439t4.907-1.83Q172.191 0 175.047 0zM155.298 61.057h-9.291l-3.299-7.763h-32.7l-3.218 7.763h-4.867l21.921-52.128-3.218-7.682h9.412zm-43.641-11.704h29.402l-14.842-34.752zM75.457 57.115h24.616v3.942H66.648V1.247h8.809zM32.057 0q6.999 0 12.972 2.273 5.973 2.272 10.599 6.294l-2.253 2.977q-1.85-1.569-4.103-2.936-2.252-1.368-4.746-2.353-2.493-.986-5.188-1.569t-5.43-.583q-5.873 0-10.418 2.132-4.545 2.131-7.642 5.832-3.097 3.7-4.706 8.648-1.609 4.947-1.609 10.618 0 5.551 1.589 10.458t4.666 8.607q3.077 3.701 7.622 5.853 4.545 2.152 10.417 2.152 2.816 0 5.712-.564 2.896-.563 5.591-1.649 2.694-1.086 5.088-2.654 2.393-1.569 4.243-3.58l2.293 2.936q-4.746 4.505-11.021 7.039t-13.676 2.534q-4.464 0-8.567-1.106-4.102-1.106-7.662-3.158-3.56-2.051-6.476-4.886-2.916-2.836-4.987-6.295-2.072-3.459-3.218-7.421Q0 35.637 0 31.333t1.147-8.326q1.146-4.022 3.218-7.501 2.071-3.479 4.987-6.335t6.476-4.887q3.56-2.031 7.662-3.158Q27.593 0 32.057 0z')
    path(fill='var(--color-card-subtitle, currentColor)' d='M22.519 76.775h5.254v7.168q-1.289.42-2.476.596-1.186.175-2.563.175-3.242 0-5-1.919t-1.758-5.415q0-3.447 1.983-5.395 1.982-1.948 5.459-1.948 2.236 0 4.238.859l-.82 1.943q-1.739-.8-3.477-.8-2.285 0-3.613 1.435-1.328 1.436-1.328 3.926 0 2.617 1.196 3.979 1.196 1.363 3.442 1.363 1.133 0 2.422-.284v-3.681h-2.959zM52.392 70.242v9.238q0 1.582-.679 2.768-.678 1.187-1.962 1.827-1.285.639-3.072.639-2.656 0-4.131-1.406-1.474-1.406-1.474-3.867v-9.199h2.344v9.033q0 1.767.82 2.607.82.84 2.519.84 3.301 0 3.301-3.467v-9.013zM66.045 84.519V70.242h2.334v14.277zM87.08 84.519h-2.334V72.244h-4.2v-2.002h10.733v2.002H87.08zM112.324 84.519l-1.426-3.965h-5.459l-1.396 3.965h-2.461l5.341-14.336h2.539l5.342 14.336zm-2.041-5.977l-1.338-3.886q-.147-.391-.405-1.231-.259-.84-.357-1.23-.263 1.201-.771 2.627l-1.289 3.72zM129.023 76.882h1.621q1.631 0 2.363-.605.733-.606.733-1.797 0-1.211-.791-1.738-.791-.528-2.383-.528h-1.543zm0 1.934v5.703h-2.334V70.242h4.033q2.764 0 4.092 1.035 1.328 1.035 1.328 3.125 0 2.666-2.773 3.799l4.033 6.318h-2.656l-3.418-5.703zM172.9 80.642q0 1.904-1.377 2.988t-3.799 1.084q-2.422 0-3.965-.752v-2.207q.977.459 2.076.723 1.098.264 2.045.264 1.387 0 2.046-.528.66-.527.66-1.416 0-.8-.606-1.357-.605-.557-2.5-1.318-1.953-.792-2.754-1.807-.801-1.016-.801-2.442 0-1.787 1.27-2.812 1.269-1.025 3.408-1.025 2.051 0 4.082.898l-.742 1.904q-1.904-.8-3.398-.8-1.133 0-1.719.493-.586.493-.586 1.303 0 .557.234.953.235.395.772.747.537.351 1.933.927 1.573.655 2.305 1.221.732.566 1.074 1.279.342.713.342 1.68zM190.595 84.519h-2.334V72.244h-4.199v-2.002h10.733v2.002h-4.2zM209.316 76.882h1.621q1.631 0 2.363-.605.733-.606.733-1.797 0-1.211-.791-1.738-.791-.528-2.383-.528h-1.543zm0 1.934v5.703h-2.334V70.242h4.033q2.764 0 4.092 1.035 1.328 1.035 1.328 3.125 0 2.666-2.773 3.799l4.033 6.318h-2.656l-3.418-5.703zM229.765 84.519V70.242h2.334v14.277zM257.763 84.519h-2.861l-7.022-11.377h-.078l.049.635q.137 1.816.137 3.32v7.422h-2.119V70.242h2.832l7.002 11.318h.058q-.019-.225-.078-1.636-.058-1.411-.058-2.202v-7.48h2.138zM277.373 76.775h5.254v7.168q-1.29.42-2.476.596-1.187.175-2.564.175-3.242 0-5-1.919-1.757-1.919-1.757-5.415 0-3.447 1.982-5.395 1.983-1.948 5.459-1.948 2.236 0 4.238.859l-.82 1.943q-1.738-.8-3.477-.8-2.285 0-3.613 1.435-1.328 1.436-1.328 3.926 0 2.617 1.196 3.979 1.197 1.363 3.443 1.363 1.133 0 2.422-.284v-3.681h-2.959zM304.287 80.642q0 1.904-1.377 2.988t-3.799 1.084q-2.422 0-3.965-.752v-2.207q.977.459 2.075.723 1.099.264 2.046.264 1.387 0 2.046-.528.659-.527.659-1.416 0-.8-.605-1.357-.606-.557-2.5-1.318-1.953-.792-2.754-1.807-.801-1.016-.801-2.442 0-1.787 1.27-2.812 1.269-1.025 3.408-1.025 2.051 0 4.082.898l-.742 1.904q-1.905-.8-3.399-.8-1.133 0-1.719.493-.585.493-.585 1.303 0 .557.234.953.234.395.771.747.538.351 1.934.927 1.572.655 2.305 1.221.732.566 1.074 1.279.342.713.342 1.68z')
  symbol(id='svg-card-footer-normal' viewBox='0 0 245.098 22.316' width='245.098' height='22.316' )
    path(fill='var(--color-card-footer, currentColor)' d='M221.146 22.033v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.436 0-3.569 1.317-1.133 1.316-1.133 4.347v8.142h-2.35V6.513h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.417 1.353 1.417 4.326v10.125zM206.405 14.259q0 3.795-1.911 5.926-1.912 2.131-5.282 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.176 2.167 1.918 2.166 1.918 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558 2.309 0 3.505-1.551 1.197-1.55 1.197-4.538 0-2.96-1.197-4.496-1.196-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM188.025 22.033h-2.35V6.513h2.35zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.567 0 .977.382.411.383.411 1.176 0 .793-.411 1.182-.41.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM181.851 17.799q0 2.166-1.614 3.342-1.614 1.175-4.531 1.175-3.087 0-4.814-.977v-2.181q1.118.567 2.4.892 1.281.326 2.471.326 1.84 0 2.832-.588.991-.587.991-1.791 0-.906-.786-1.55-.786-.645-3.066-1.523-2.166-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.544-2.995 1.543-1.097 4.233-1.097 2.507 0 4.9 1.02l-.836 1.911q-2.336-.963-4.234-.963-1.67 0-2.52.524-.85.524-.85 1.445 0 .623.319 1.062.319.439 1.027.835.708.397 2.718 1.147 2.762 1.005 3.732 2.025.969 1.019.969 2.563zM164.661 22.033v-10.04q0-1.897-.864-2.832-.863-.934-2.704-.934-2.436 0-3.569 1.317-1.132 1.316-1.132 4.347v8.142h-2.351V6.513h1.912l.382 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM144.327 22.316q-3.441 0-5.43-2.096-1.99-2.095-1.99-5.82 0-3.752 1.848-5.961 1.848-2.209 4.963-2.209 2.917 0 4.616 1.919 1.7 1.918 1.7 5.062v1.487h-10.691q.071 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.111.234-2.683.234zm-.637-14.118q-1.869 0-2.981 1.218-1.111 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183zM132.546 20.376q.623 0 1.203-.092.581-.092.921-.191v1.798q-.382.184-1.126.305-.743.12-1.338.12-4.503 0-4.503-4.744V8.34h-2.223V7.207l2.223-.977.991-3.313h1.36v3.596h4.503V8.34h-4.503v9.133q0 1.402.665 2.153.666.75 1.827.75zM115.016 22.033h-2.351V0h2.351zM106.08 22.033l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.514-.977 1.366-.354 2.74-.354 2.775 0 4.113 1.232 1.338 1.232 1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37V14.4l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM89.343 22.033V11.937q0-1.855-.793-2.783-.793-.927-2.464-.927-2.194 0-3.242 1.26t-1.048 3.88v8.666h-2.351V11.937q0-1.855-.793-2.783-.793-.927-2.478-.927-2.209 0-3.235 1.324-1.027 1.324-1.027 4.34v8.142h-2.351V6.513h1.912l.382 2.124h.114q.665-1.133 1.876-1.77 1.211-.637 2.712-.637 3.639 0 4.757 2.634h.114q.694-1.218 2.01-1.926 1.317-.708 3.002-.708 2.634 0 3.944 1.352 1.31 1.353 1.31 4.326v10.125zM64.804 6.23q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.884 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35V6.513h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM53.603 14.259q0 3.795-1.912 5.926-1.911 2.131-5.281 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.175 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558t3.505-1.551q1.196-1.55 1.196-4.538 0-2.96-1.196-4.496-1.197-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM33.028 22.033v-10.04q0-1.897-.864-2.832-.863-.934-2.704-.934-2.436 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351V6.513h1.912l.382 2.124h.113q.723-1.147 2.025-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125z')
  symbol(id='svg-card-footer-hard' viewBox='0 0 245.098 22.316' width='245.098' height='22.316' )
    path(fill='var(--color-card-footer, currentColor)' d='M202.483 22.033v-10.04q0-1.897-.863-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351V6.513h1.912l.382 2.124h.114q.722-1.147 2.024-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM187.743 14.259q0 3.795-1.912 5.926-1.912 2.131-5.282 2.131-2.081 0-3.695-.977-1.615-.977-2.493-2.804-.878-1.826-.878-4.276 0-3.795 1.898-5.912 1.897-2.117 5.267-2.117 3.257 0 5.176 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.189 4.531 1.19 1.558 3.498 1.558 2.308 0 3.505-1.551 1.196-1.55 1.196-4.538 0-2.96-1.196-4.496-1.197-1.536-3.533-1.536-2.308 0-3.484 1.515-1.175 1.515-1.175 4.517zM169.363 22.033h-2.351V6.513h2.351zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.566 0 .977.382.41.383.41 1.176 0 .793-.41 1.182-.411.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM163.189 17.799q0 2.166-1.614 3.342-1.614 1.175-4.531 1.175-3.087 0-4.815-.977v-2.181q1.119.567 2.4.892 1.282.326 2.471.326 1.841 0 2.832-.588.991-.587.991-1.791 0-.906-.785-1.55-.786-.645-3.066-1.523-2.167-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.543-2.995 1.543-1.097 4.234-1.097 2.506 0 4.899 1.02l-.835 1.911q-2.337-.963-4.234-.963-1.671 0-2.521.524-.849.524-.849 1.445 0 .623.318 1.062.319.439 1.027.835.708.397 2.719 1.147 2.761 1.005 3.731 2.025.97 1.019.97 2.563zM145.999 22.033v-10.04q0-1.897-.864-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351V6.513h1.912l.382 2.124h.114q.722-1.147 2.025-1.777 1.302-.63 2.902-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM125.665 22.316q-3.441 0-5.431-2.096-1.989-2.095-1.989-5.82 0-3.752 1.848-5.961 1.847-2.209 4.963-2.209 2.917 0 4.616 1.919 1.699 1.918 1.699 5.062v1.487H120.68q.071 2.733 1.381 4.149t3.689 1.416q2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.112.234-2.683.234zm-.638-14.118q-1.869 0-2.98 1.218-1.112 1.218-1.31 3.37h8.114q0-2.223-.992-3.405-.991-1.183-2.832-1.183zM113.883 20.376q.623 0 1.204-.092t.92-.191v1.798q-.382.184-1.125.305-.744.12-1.338.12-4.503 0-4.503-4.744V8.34h-2.224V7.207l2.224-.977.991-3.313h1.359v3.596h4.503V8.34h-4.503v9.133q0 1.402.666 2.153.665.75 1.826.75zM94.13 19.951h-.128q-1.628 2.365-4.871 2.365-3.044 0-4.736-2.082-1.692-2.081-1.692-5.918 0-3.838 1.699-5.962 1.699-2.124 4.729-2.124 3.158 0 4.843 2.294h.184l-.099-1.119-.057-1.09V0h2.351v22.033h-1.912zm-4.701.397q2.407 0 3.49-1.31 1.083-1.31 1.083-4.227v-.495q0-3.3-1.097-4.709-1.097-1.409-3.505-1.409-2.067 0-3.164 1.608-1.098 1.607-1.098 4.538 0 2.973 1.091 4.489 1.09 1.515 3.2 1.515zM78.809 6.23q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.884 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35V6.513h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM65.144 22.033l-.467-2.209h-.113q-1.162 1.458-2.316 1.975-1.154.517-2.881.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.513-.977 1.367-.354 2.74-.354 2.776 0 4.114 1.232t1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.253-1.203 1.253-3.37V14.4l-2.35.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.771.665 2.159.665zM48.421 22.033v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.45 0-3.576 1.331t-1.126 4.361v8.114h-2.35V0h2.35v6.669q0 1.204-.113 1.997h.142q.694-1.119 1.975-1.763 1.282-.645 2.924-.645 2.846 0 4.269 1.353 1.424 1.352 1.424 4.297v10.125z')
  symbol(id='svg-card-footer-xhard' viewBox='0 0 245.098 22.316' width='245.098' height='22.316' )
    path(fill='var(--color-card-footer, currentColor)' d='M242.748 22.033v-10.04q0-1.897-.864-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.35V6.513h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.416 1.353 1.416 4.326v10.125zM228.007 14.259q0 3.795-1.912 5.926-1.911 2.131-5.281 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.175 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558t3.505-1.551q1.197-1.55 1.197-4.538 0-2.96-1.197-4.496-1.197-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM209.627 22.033h-2.35V6.513h2.35zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.566 0 .977.382.411.383.411 1.176 0 .793-.411 1.182-.411.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM203.453 17.799q0 2.166-1.614 3.342-1.614 1.175-4.531 1.175-3.087 0-4.815-.977v-2.181q1.119.567 2.401.892 1.281.326 2.47.326 1.841 0 2.833-.588.991-.587.991-1.791 0-.906-.786-1.55-.786-.645-3.066-1.523-2.166-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.543-2.995 1.544-1.097 4.234-1.097 2.507 0 4.9 1.02l-.836 1.911q-2.336-.963-4.234-.963-1.671 0-2.52.524-.85.524-.85 1.445 0 .623.319 1.062.318.439 1.026.835.708.397 2.719 1.147 2.761 1.005 3.731 2.025.97 1.019.97 2.563zM186.263 22.033v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.436 0-3.569 1.317-1.133 1.316-1.133 4.347v8.142h-2.35V6.513h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.417 1.353 1.417 4.326v10.125zM165.929 22.316q-3.441 0-5.43-2.096-1.99-2.095-1.99-5.82 0-3.752 1.848-5.961 1.848-2.209 4.963-2.209 2.917 0 4.616 1.919 1.699 1.918 1.699 5.062v1.487h-10.69q.07 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.111.234-2.683.234zm-.637-14.118q-1.869 0-2.981 1.218-1.112 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183zM154.148 20.376q.623 0 1.203-.092.581-.092.921-.191v1.798q-.383.184-1.126.305-.743.12-1.338.12-4.503 0-4.503-4.744V8.34h-2.223V7.207l2.223-.977.991-3.313h1.36v3.596h4.502V8.34h-4.502v9.133q0 1.402.665 2.153.666.75 1.827.75zM134.394 19.951h-.127q-1.629 2.365-4.871 2.365-3.045 0-4.737-2.082-1.692-2.081-1.692-5.918 0-3.838 1.699-5.962 1.699-2.124 4.73-2.124 3.157 0 4.843 2.294h.184l-.1-1.119-.056-1.09V0h2.35v22.033h-1.911zm-4.701.397q2.407 0 3.491-1.31 1.083-1.31 1.083-4.227v-.495q0-3.3-1.098-4.709-1.097-1.409-3.504-1.409-2.068 0-3.165 1.608-1.097 1.607-1.097 4.538 0 2.973 1.09 4.489 1.09 1.515 3.2 1.515zM119.073 6.23q1.034 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.883 0-3.221 1.53-1.339 1.529-1.339 3.809v8.326h-2.35V6.513h1.94l.269 2.875h.113q.864-1.515 2.082-2.337 1.217-.821 2.676-.821zM105.408 22.033l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.513-.977 1.367-.354 2.74-.354 2.776 0 4.114 1.232t1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37V14.4l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM88.685 22.033v-10.04q0-1.897-.863-2.832-.864-.934-2.705-.934-2.45 0-3.576 1.331-1.125 1.331-1.125 4.361v8.114h-2.351V0h2.351v6.669q0 1.204-.114 1.997h.142q.694-1.119 1.975-1.763 1.282-.645 2.924-.645 2.847 0 4.27 1.353 1.423 1.352 1.423 4.297v10.125zM63.947 22.033l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.514-.977 1.366-.354 2.74-.354 2.775 0 4.113 1.232 1.338 1.232 1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37V14.4l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM49.646 6.23q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.883 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35V6.513h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM37.341 20.376q.623 0 1.203-.092.581-.092.921-.191v1.798q-.383.184-1.126.305-.744.12-1.338.12-4.503 0-4.503-4.744V8.34h-2.223V7.207l2.223-.977.991-3.313h1.359v3.596h4.503V8.34h-4.503v9.133q0 1.402.666 2.153.665.75 1.827.75zM20.872 14.089l-5.395-7.576h2.677l4.092 5.948 4.078-5.948h2.648l-5.395 7.576 5.678 7.944h-2.662l-4.347-6.287-4.39 6.287h-2.662zM7.42 22.316q-3.441 0-5.43-2.096Q0 18.125 0 14.4q0-3.752 1.848-5.961Q3.696 6.23 6.811 6.23q2.917 0 4.616 1.919 1.7 1.918 1.7 5.062v1.487H2.436q.071 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.357.771-1.112.234-2.684.234zM6.783 8.198q-1.869 0-2.981 1.218-1.111 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183z')


mixin svgLogoFull() 
  -
    const logo_full = {
      h: 100,
      space: 10,
      symbol: {
        logo: { h: 341.794, w: 390.12 },
        text: { h: 84.714, w: 321.173 }
      },
      get logo_h() { return this.h * 1 },
      get text_h() { return this.h * .75 },
      get logo_w() { return this.logo_h / this.symbol.logo.h * this.symbol.logo.w },
      get text_w() { return this.text_h / this.symbol.text.h * this.symbol.text.w },
      get logo_y() { return (this.h - this.logo_h) / 2 },
      get text_x() { return this.logo_w + this.space },
      get text_y() { return (this.h - this.text_h) / 2 },
      get w() { return this.logo_w + this.space + this.text_w },
      get padding_ratio() { return this.h / this.w }
    }
  svg(
    xmlns='http://www.w3.org/2000/svg' 
    viewBox=`0 0 ${logo_full.w} ${logo_full.h}` 
    preserveAspectRatio='xMidYMin slice' 
    style=`display:block;box-sizing:content-box;height:0.1px;width:100%;padding-bottom:${logo_full.padding_ratio * 100}%;overflow:visible;`
  )
    use(href='#svg-card-logo' x='0' y=`${logo_full.logo_y}` width=`${logo_full.logo_w}` height=`${logo_full.logo_h}`)
    use(href='#svg-card-header' x=`${logo_full.text_x}` y=`${logo_full.text_y}` width=`${logo_full.text_w}` height=`${logo_full.text_h}`)

mixin svgCard(tension)
  svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMidYMin slice' style='display:block;box-sizing:content-box;height:0.1px;width:100%;padding-bottom:100%;overflow:visible;')
    use(href='#svg-card-logo' x='62.119' y='118.706')
    use(href='#svg-card-header' x='95.413' y='27.992')
    use(href=`#svg-card-footer-${tension}` x='134.227' y='463.684')

mixin svgCClicense(type)
  svg(id='icon-combo-cc-by' viewBox='0 0 133 64' width='133' height='64')
    use(href='#icon-cc' x='0' y='0')
    use(href='#icon-cc-by' x='69' y='0')
  svg(id='icon-combo-cc-by-sa' viewBox='0 0 202 64' width='202' height='64')
    use(href='#icon-cc' x='0' y='0')
    use(href='#icon-cc-by' x='69' y='0')
    use(href='#icon-cc-sa' x='138' y='0')
  svg(id='icon-combo-cc-by-nc-nd' viewBox='0 0 271 64' width='271' height='64')
    use(href='#icon-cc' x='0' y='0')
    use(href='#icon-cc-by' x='69' y='0')
    use(href='#icon-cc-nc' x='138' y='0')
    use(href='#icon-cc-nd' x='207' y='0')

header#header
  
  nav#nav-bar

    .nav-bar-left
      a(href="#")
        img(src='https://via.placeholder.com/40' style='display: none;')
        +svgLogoFull
  
    .nav-bar-right
      ul
        li: a.nav-link(href="#section1") Section 1 
        li: a.nav-link(href="#section2") Section 2
        li: a.nav-link(href="#section3") Section 3

  .hero-video
    .video-container
      video#video(autoplay loop muted playsinline) 
        source(src="https://storage.googleapis.com/coverr-main/webm/Strum-Away.webm" type="video/webm")
        source(src="https://storage.googleapis.com/coverr-main/ogv/Strum-Away.ogv" type="video/ogg")
        source(src="https://storage.googleapis.com/coverr-main/mp4/Strum-Away.mp4" type="video/mp4")
      //- .poster.hidden
        img(src="https://storage.googleapis.com/coverr-public/poster/Strum-Away.jpg" alt="")

  
section#section1

  .testimonial-container
    -
      const testimonials = [
        {
          author: 'Cristo S.',
          quote: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa explicabo alias veniam, eos impedit quia placeat non dolor mollitia!',
        },
        {
          author: 'Gabriela B.',
          quote: 'Neque rerum, perspiciatis tempora totam iste laudantium dignissimos reprehenderit aut amet repudiandae quisquam.',
        },
        {
          author: 'Jason M.',
          quote: 'Inventore dolore fugit temporibus. Amet debitis ipsa voluptas quos quas officia dolor? Minima sapiente pariatur adipisci omnis fugiat.',
        },
        {
          author: 'Juan R.',
          quote: 'Nesciunt repellat, asperiores minima similique rerum dignissimos officia, delectus nemo hic repudiandae sapiente iste ex impedit obcaecati!',
        },
        {
          author: 'Luis R.',
          quote: 'Mollitia aspernatur nostrum quas repudiandae tempore cupiditate optio, ad labore ex quisquam eaque ea harum quia alias!',
        },
        {
          author: 'Rebecca P.',
          quote: 'Eos temporibus dolore animi quas delectus deleniti incidunt totam rem nemo libero quos assumenda, doloribus est repellat iure reiciendis.',
        },
        {
          author: 'Eduardo F.',
          quote: 'Ducimus accusamus magni aut nobis veniam rem quidem consequatur reiciendis possimus. Quis rem animi nulla cupiditate eligendi officia in deserunt.'
        }
      ];

    each item in testimonials
      .testimonial.fade
        .testimonial-img(class=`img-${item.author.match(/\w/g).join('').toLowerCase()}`)
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 390.12 341.794' preserveAspectRatio='xMidYMin slice' style='display:block;box-sizing:content-box;height:0.1px;width:100%;padding-bottom:87.61%;overflow:visible;')
            use(href='#svg-card-logo')
        .testimonial-quote
          p #{item.quote}
          p #{item.author}

section#section2
  .product-cards
    each item in ['normal', 'hard', 'xhard']
      .card(class=`tension-${item}`)
        +svgCard(item)



//- section#section-test
//-   p Test Section
//-   .row
//-     .svg-test-container.symbol-logo(style='max-width:1000px;')
//-       svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 390.12 341.794' preserveAspectRatio='xMidYMin slice' style='display:block;box-sizing:content-box;height:0.1px;width:100%;padding-bottom:87.61%;overflow:visible;')
//-         use(href='#svg-card-logo')

//-     //- .svg-test-container.symbol-title
//-     //-   svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 321.173 84.714' preserveAspectRatio='xMidYMin slice' style='display:block;box-sizing:content-box;height:0.1px;width:100%;padding-bottom:26.38%;overflow:visible;')
//-     //-     use(href='#svg-card-header')
//-   .row
//-     .svg-test-container.symbol-logo-with-title(style='max-width:700px;')
//-       +svgLogoFull 


section#section3
  

  form#form(action="https://www.freecodecamp.com/email-submit" method="post")
    label(for="email") Email: 
    input#email(type='email' name='email' placeholder='Email' required)
    input#submit(type='submit')



footer(style='min-height:30px; width:100%;margin-top:30px;')


  //- ===== Image attributions =============

  .image-attributions
    p(style='font-size:0.7rem;font-style:italic;')
      a(href='https://www.flickr.com/photos/39400957@N03/12256046533') "Jason Mraz &amp; Raining Jane at NAMM 1/25/2014 #17" 
      | and 
      a(href='https://www.flickr.com/photos/39400957@N03/11476390335') "Rebecca Pidgeon 12/20/2013 #2" 
      span by #[a(href='https://www.flickr.com/photos/39400957@N03') jus10h ]
      | are licensed under 
      a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html') CC BY 2.0
      a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html' target='_blank' rel='noopener noreferrer' style='margin:0 0.35em;height:1.52em !important;'): svg(id='icon-group-cc-by' class='icon-cc-group' viewBox='0 0 133 64' style='height:inherit; vertical-align:top;') 
        use(href='#icon-cc' x='0' y='0')
        use(href='#icon-cc-by' x='69' y='0')
      | &bull; 
      a(href='https://www.flickr.com/photos/52498302@N08/37694010252') "Gabriela Battistini - Cierre Guitarras Del Mundo 2017" 
      | and 
      a(href='https://www.flickr.com/photos/52498302@N08/37677776826') "Eduardo Fernández - Cierre Guitarras Del Mundo 2017" 
      span by #[a(href='https://www.flickr.com/photos/52498302@N08') Ministerio de Cultura de la Nación ]
      | are licensed under 
      a(href='https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html') CC BY-SA 2.0
      a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html' target='_blank' rel='noopener noreferrer' style='margin:0 0.35em;height:1.52em !important;'): svg(id='icon-group-cc-by-sa' class='icon-cc-group' viewBox='0 0 202 64' style='height:inherit; vertical-align:top;')
        use(href='#icon-cc' x='0' y='0')
        use(href='#icon-cc-by' x='69' y='0')
        use(href='#icon-cc-sa' x='138' y='0')
      | &bull; 
      a(href='https://www.flickr.com/photos/61769013@N06/5676875263') "Homenajes Sonoros - Piazzolla" 
      span by #[a(href='https://www.flickr.com/photos/61769013@N06') Gescaem], 
      a(href='https://www.flickr.com/photos/129072575@N05/48994864191') "Jueves Flamencos de la Fundación Cajasol en Sevilla: Juan Carlos Romero (10)" 
      span by #[a(href='https://www.flickr.com/photos/129072575@N05') fundacioncajasol], 
      | and 
      a(href='https://www.flickr.com/photos/65219527@N06/11186848285') "Luis Regidor in the Scoring Studio" 
      span by #[a(href='https://www.flickr.com/photos/65219527@N06') Berklee Valencia Campus ]
      | are licensed under 
      a(href='https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html') CC BY-NC-ND 2.0
      a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html' target='_blank' rel='noopener noreferrer' style='margin:0 0.35em;height:1.52em !important;'): svg(id='icon-group-cc-by-nc-nd' viewBox='0 0 271 64' class='icon-cc-group' style='height:inherit; vertical-align:top;')
        use(href='#icon-cc' x='0' y='0')
        use(href='#icon-cc-by' x='69' y='0')
        use(href='#icon-cc-nc' x='138' y='0')
        use(href='#icon-cc-nd' x='207' y='0')

      

    
          
      

   
    //- svg(id='icon-combo-cc-by' viewBox='0 0 133 64' width='133' height='64')
    //-   use(href='#icon-cc' x='0' y='0')
    //-   use(href='#icon-cc-by' x='69' y='0')
    //- svg(id='icon-combo-cc-by-sa' viewBox='0 0 202 64' width='202' height='64')
    //-   use(href='#icon-cc' x='0' y='0')
    //-   use(href='#icon-cc-by' x='69' y='0')
    //-   use(href='#icon-cc-sa' x='138' y='0')
    //- svg(id='icon-combo-cc-by-nc-nd' viewBox='0 0 271 64' width='271' height='64')
    //-   use(href='#icon-cc' x='0' y='0')
    //-   use(href='#icon-cc-by' x='69' y='0')
    //-   use(href='#icon-cc-nc' x='138' y='0')
    //-   use(href='#icon-cc-nd' x='207' y='0')

  

button#custom_fcc_foldout_toggler !{svgPwrSymbol} TEST

