- const svgPwrSymbol = `<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' preserveAspectRatio='xMinYMin meet'><path d='M136.68,123.21A34.59,34.59,0,0,0,91.31,71a251.26,251.26,0,1,0,327.85-1.32,34.59,34.59,0,0,0-44.95,52.6,181.94,181.94,0,0,1,63.86,138.49c0,100.39-81.68,182.07-182.07,182.07S73.93,361.13,73.93,260.74A182.09,182.09,0,0,1,136.68,123.21Z'></path><path d='M290.59,277V34.59a34.59,34.59,0,0,0-69.19,0V277A34.59,34.59,0,1,0,290.59,277Z'></path></svg>`;


-
  const testimonials = [
    {
      author: 'Cristo S.',
      quote: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa explicabo alias veniam, eos impedit quia placeat non dolor mollitia!',
    },
    {
      author: 'Gabriela B.',
      quote: 'Neque rerum, perspiciatis tempora totam iste laudantium dignissimos reprehenderit aut amet repudiandae quisquam. Magnam laboriosam quam cupiditate veritatis error tempora iste nulla deleniti libero aliquid.',
    },
    {
      author: 'Jason M.',
      quote: 'Inventore dolore fugit temporibus. Amet debitis ipsa voluptas quos quas officia dolor? Minima sapiente pariatur adipisci omnis fugiat, quisquam praesentium ab consequuntur totam velit magni ipsum molestias aliquid autem amet dolorum magnam neque doloremque iste vero deserunt cumque?',
    },
    {
      author: 'Juan R.',
      quote: 'Eos unde sit totam pariatur enim tempora eligendi, animi, quo, maxime omnis officia aut cumque consectetur possimus ea facere? Nesciunt repellat, asperiores minima similique rerum dignissimos officia, delectus nemo hic repudiandae sapiente iste ex impedit obcaecati! Vitae, perferendis?',
    },
    {
      author: 'Luis R.',
      quote: 'Fuga, amet vero quasi est dolor sit maiores nostrum accusamus omnis! Mollitia aspernatur nostrum quas repudiandae tempore cupiditate optio, ad labore ex quisquam eaque ea harum quia alias!',
    },
    {
      author: 'Rebecca P.',
      quote: 'Laboriosam, unde. Eos temporibus dolore animi quas delectus deleniti incidunt totam rem nemo libero quos assumenda, doloribus est repellat iure reiciendis vel similique veritatis, ad deserunt iusto?',
    },
    {
      author: 'Eduardo F.',
      quote: 'Ducimus accusamus magni aut nobis veniam rem quidem consequatur reiciendis possimus. Quis rem animi nulla cupiditate eligendi officia in deserunt sint eaque ullam consequuntur debitis id inventore alias tempore maiores itaque asperiores reiciendis aspernatur, fuga quod impedit adipisci iusto eveniet?'
    }
  ];

mixin svgLogo(height, soundholeColor, stringsColor, stringWidth, isHeaderImg=false)
  - const props = {xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 512 438', preserveAspectRatio: 'xMinYMin meet', pathSoundhole: 'M257.94 47.137c94.366 0 170.866 76.672 170.866 171.252 0 94.581-76.5 171.253-170.866 171.253-94.367 0-170.866-76.672-170.866-171.253 0-94.58 76.499-171.252 170.866-171.252zm0 29.999c-77.783.001-140.866 63.226-140.866 141.253 0 78.027 63.083 141.253 140.866 141.253 77.783 0 140.866-63.226 140.866-141.253 0-78.027-63.083-141.252-140.866-141.253z', pathStrings: 'M5 231.689L383.403 4.5l-1.092.658M30.389 272.805l378.403-227.19-1.092.659M56.198 312.496L434.602 85.307l-1.093.658M79.143 353.05l378.404-227.189-1.093.658M104.549 393.47l378.403-227.19-1.092.659M128.666 434.222l378.403-227.19-1.093.659'};
  if isHeaderImg
    - const headerImgSvg = `<svg xmlns='${props.xmlns}' viewBox='${props.viewBox}' preserveAspectRatio='${props.preserveAspectRatio}' height='${height}'><path d='${props.pathSoundhole}' fill='${soundholeColor}'/><path d='${props.pathStrings}' stroke='${stringsColor}' stroke-width='${stringWidth}'/></svg>`;
    img#header-img(src=`data:image/svg+xml;utf8,${encodeURI(headerImgSvg)}` alt="logo" )
  else
    svg(xmlns=props.xmlns viewBox=props.viewBox preserveAspectRatio=props.preserveAspectRatio)
      path(class='path-soundhole' d=props.pathSoundhole fill=soundholeColor)
      path(class='path-strings' d=props.pathStrings stroke-linecap='round' stroke-linejoin='round' stroke=stringsColor stroke-width=stringWidth)

//- svg(xmlns='http://www.w3.org/2000/svg' id='svg-logo' style='display:none;')
//-   symbol(id='svg-logo-symbol' viewBox='0 0 512 438' width='512' height='438')
//-     path(class='soundhole' fill='white' d='M257.94 47.137c94.366 0 170.866 76.672 170.866 171.252 0 94.581-76.5 171.253-170.866 171.253-94.367 0-170.866-76.672-170.866-171.253 0-94.58 76.499-171.252 170.866-171.252zm0 29.999c-77.783.001-140.866 63.226-140.866 141.253 0 78.027 63.083 141.253 140.866 141.253 77.783 0 140.866-63.226 140.866-141.253 0-78.027-63.083-141.252-140.866-141.253z')
//-     g(class='strings' stroke='gray' stroke-width='5' stroke-linecap='round' stroke-linejoin='round' fill='none')
//-       path(d='M5 231.689L383.403 4.5l-1.092.658M30.389 272.805l378.403-227.19-1.092.659M56.198 312.496L434.602 85.307l-1.093.658M79.143 353.05l378.404-227.189-1.093.658M104.549 393.47l378.403-227.19-1.092.659M128.666 434.222l378.403-227.19-1.093.659')

mixin card() 
  .card
    //- img(src='https://via.placeholder.com/250')
    //- +svgLogo(null, 'black', 'black', '5')
    svg(xmlns='http://www.w3.org/2000/svg' id='svg-logo' viewBox='0 0 512 438')
      path(class='soundhole' fill='black' d='M257.94 47.137c94.366 0 170.866 76.672 170.866 171.252 0 94.581-76.5 171.253-170.866 171.253-94.367 0-170.866-76.672-170.866-171.253 0-94.58 76.499-171.252 170.866-171.252zm0 29.999c-77.783.001-140.866 63.226-140.866 141.253 0 78.027 63.083 141.253 140.866 141.253 77.783 0 140.866-63.226 140.866-141.253 0-78.027-63.083-141.252-140.866-141.253z')
      path(class='strings' d='M5 231.689L383.403 4.5l-1.092.658M30.389 272.805l378.403-227.19-1.092.659M56.198 312.496L434.602 85.307l-1.093.658M79.143 353.05l378.404-227.189-1.093.658M104.549 393.47l378.403-227.19-1.092.659M128.666 434.222l378.403-227.19-1.093.659' stroke-linecap='round' stroke-linejoin='round' stroke='gray' stroke-width='5')
    if block
      block


header#header
  
  nav#nav-bar

    .nav-bar-left
      a(href="#")
        img(src='https://via.placeholder.com/40' style='display: none;')
        +svgLogo('40', 'white', 'white', '10', true)
  
    .nav-bar-right
      ul
        li: a.nav-link(href="#section1") Section 1 
        li: a.nav-link(href="#section2") Section 2
        li: a.nav-link(href="#section3") Section 3

  .hero-video
    .video-container
      video#video(autoplay loop muted playsinline) 
        source(src="https://storage.googleapis.com/coverr-main/webm/Strum-Away.webm" type="video/webm")
        source(src="https://storage.googleapis.com/coverr-main/ogv/Strum-Away.ogv" type="video/ogg")
        source(src="https://storage.googleapis.com/coverr-main/mp4/Strum-Away.mp4" type="video/mp4")
      //- .poster.hidden
        img(src="https://storage.googleapis.com/coverr-public/poster/Strum-Away.jpg" alt="")

  
section#section1
  p Section 1

  .testimonial-container
    - for (let i = 0; i < 7; i++)
      .testimonial
        .testimonial-img
          .logo-soundhole(class=`testimonial-${i}`)
        .testimonial-quote
          p #{testimonials[i].quote}
          p #{testimonials[i].author}

section#section2
  p Section 2

  .product-cards
    - for (var x = 0; x < 3; x++)
      .card
        .card-header: p classic strings
        .card-logo
          .logo-soundhole
        .card-footer: p one set


section#section-test
  p Test Section
  .row
    .svg-test-container
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
        path(id="str-pkg-soundhole" d="M257.179 151.507c76.047 0 137.696 61.787 137.696 138.007s-61.649 138.007-137.696 138.007-137.696-61.787-137.696-138.007 61.649-138.007 137.696-138.007zm0 24.175c-62.683.001-113.519 50.952-113.519 113.832 0 62.879 50.836 113.831 113.519 113.831 62.683 0 113.52-50.952 113.52-113.831 0-62.88-50.837-113.831-113.52-113.832z")
        path(id="str-pkg-strings" stroke="#000" stroke-width="5" stroke-linecap="round" fill="none" d="M165.973 452l277.766-160.368M147.103 419.315l277.765-160.368M128.232 386.63l277.766-160.368M109.361 353.944l277.766-160.368M90.49 321.259l277.766-160.368M71.619 288.575l277.766-160.369")
        path(id="classic" fill="var(--color-card-title, blue)" d="M391.89 27.992q6.999 0 12.972 2.273 5.973 2.272 10.598 6.294l-2.252 2.977q-1.85-1.569-4.103-2.936-2.252-1.368-4.746-2.353-2.494-.986-5.189-1.569t-5.43-.583q-5.872 0-10.417 2.132-4.545 2.131-7.642 5.832-3.097 3.7-4.706 8.648-1.609 4.947-1.609 10.618 0 5.551 1.589 10.458 1.588 4.907 4.665 8.607 3.077 3.701 7.622 5.853 4.546 2.152 10.418 2.152 2.815 0 5.711-.564 2.896-.563 5.591-1.649 2.695-1.086 5.088-2.654 2.394-1.569 4.244-3.58l2.293 2.936q-4.747 4.505-11.021 7.039-6.275 2.534-13.676 2.534-4.464 0-8.567-1.106t-7.662-3.158q-3.56-2.051-6.476-4.886-2.916-2.836-4.988-6.295-2.071-3.459-3.217-7.421-1.147-3.962-1.147-8.266t1.147-8.326q1.146-4.022 3.217-7.501 2.072-3.479 4.988-6.335 2.916-2.856 6.476-4.887 3.559-2.031 7.662-3.158 4.103-1.126 8.567-1.126zM349.416 89.049h-8.849v-59.81h8.849zM311.607 27.992q2.655 0 4.646.242 1.991.241 3.74.663 1.75.423 3.48.986 1.729.563 3.861 1.247l-.161 4.223q-1.529-.523-3.097-1.006-1.569-.482-3.278-.844-1.71-.362-3.64-.584-1.931-.221-4.143-.221-1.006 0-2.333.322-1.327.322-2.534 1.086-1.207.764-2.051 2.011-.845 1.247-.845 3.097 0 1.73 1.367 4.042 1.368 2.313 4.586 5.772l7.079 7.643q2.333 2.413 4.485 4.766 2.151 2.353 3.76 4.625 1.609 2.273 2.575 4.505.965 2.233.965 4.405 0 4.223-1.549 7.179-1.548 2.956-4.022 4.787-2.473 1.83-5.611 2.674-3.137.845-6.274.845-2.736 0-5.109-.302-2.373-.301-4.525-.885-2.152-.583-4.122-1.448-1.971-.864-3.902-1.991l.523-4.343q1.569.724 3.218 1.468t3.358 1.327q1.71.583 3.479.945 1.77.362 3.54.362 5.913 0 8.929-2.433 3.017-2.434 3.017-7.059 0-1.408-.623-2.856-.624-1.448-1.71-2.997-1.086-1.548-2.554-3.197-1.468-1.649-3.117-3.459l-7.16-7.803q-2.735-3.339-4.585-5.712-1.85-2.373-2.956-4.223-1.107-1.85-1.569-3.399-.463-1.549-.463-3.238 0-3.258 1.328-5.41 1.327-2.152 3.499-3.439t4.907-1.83q2.735-.543 5.591-.543zM270.46 27.992q2.654 0 4.645.242 1.991.241 3.741.663 1.75.423 3.479.986 1.73.563 3.862 1.247l-.161 4.223q-1.529-.523-3.097-1.006-1.569-.482-3.278-.844-1.71-.362-3.641-.584-1.93-.221-4.142-.221-1.006 0-2.333.322-1.328.322-2.534 1.086-1.207.764-2.052 2.011-.844 1.247-.844 3.097 0 1.73 1.367 4.042 1.368 2.313 4.586 5.772l7.079 7.643q2.333 2.413 4.484 4.766 2.152 2.353 3.761 4.625 1.609 2.273 2.574 4.505.966 2.233.966 4.405 0 4.223-1.549 7.179-1.548 2.956-4.022 4.787-2.474 1.83-5.611 2.674-3.137.845-6.275.845-2.735 0-5.108-.302-2.373-.301-4.525-.885-2.152-.583-4.123-1.448-1.97-.864-3.901-1.991l.523-4.343q1.568.724 3.218 1.468 1.649.744 3.358 1.327 1.71.583 3.479.945 1.77.362 3.54.362 5.912 0 8.929-2.433 3.017-2.434 3.017-7.059 0-1.408-.624-2.856-.623-1.448-1.709-2.997-1.086-1.548-2.554-3.197-1.468-1.649-3.117-3.459l-7.16-7.803q-2.735-3.339-4.585-5.712-1.85-2.373-2.957-4.223-1.106-1.85-1.568-3.399-.463-1.549-.463-3.238 0-3.258 1.328-5.41 1.327-2.152 3.499-3.439t4.907-1.83q2.735-.543 5.591-.543zM250.711 89.049h-9.291l-3.299-7.763h-32.7l-3.218 7.763h-4.867l21.921-52.128-3.218-7.682h9.412zM207.07 77.345h29.402L221.63 42.593zM170.87 85.107h24.616v3.942h-33.425v-59.81h8.809zM127.47 27.992q6.999 0 12.972 2.273 5.973 2.272 10.599 6.294l-2.253 2.977q-1.85-1.569-4.103-2.936-2.252-1.368-4.746-2.353-2.493-.986-5.188-1.569t-5.43-.583q-5.873 0-10.418 2.132-4.545 2.131-7.642 5.832-3.097 3.7-4.706 8.648-1.609 4.947-1.609 10.618 0 5.551 1.589 10.458t4.666 8.607q3.077 3.701 7.622 5.853 4.545 2.152 10.417 2.152 2.816 0 5.712-.564 2.896-.563 5.591-1.649 2.694-1.086 5.088-2.654 2.393-1.569 4.243-3.58l2.293 2.936q-4.746 4.505-11.021 7.039t-13.676 2.534q-4.464 0-8.567-1.106-4.102-1.106-7.662-3.158-3.56-2.051-6.476-4.886-2.916-2.836-4.987-6.295-2.072-3.459-3.218-7.421-1.147-3.962-1.147-8.266t1.147-8.326q1.146-4.022 3.218-7.501 2.071-3.479 4.987-6.335t6.476-4.887q3.56-2.031 7.662-3.158 4.103-1.126 8.567-1.126z")
        path(id="gstrings" fill="var(--color-card-subtitle, currentColor)" d="M117.932 104.767h5.254v7.168q-1.289.42-2.476.596-1.186.175-2.563.175-3.242 0-5-1.919t-1.758-5.415q0-3.447 1.983-5.395 1.982-1.948 5.459-1.948 2.236 0 4.238.859l-.82 1.943q-1.739-.8-3.477-.8-2.285 0-3.613 1.435-1.328 1.436-1.328 3.926 0 2.617 1.196 3.979 1.196 1.363 3.442 1.363 1.133 0 2.422-.284v-3.681h-2.959zM147.805 98.234v9.238q0 1.582-.679 2.768-.678 1.187-1.962 1.827-1.285.639-3.072.639-2.656 0-4.131-1.406-1.474-1.406-1.474-3.867v-9.199h2.344v9.033q0 1.767.82 2.607.82.84 2.519.84 3.301 0 3.301-3.467v-9.013zM161.458 112.511V98.234h2.334v14.277zM182.493 112.511h-2.334v-12.275h-4.2v-2.002h10.733v2.002h-4.199zM207.737 112.511l-1.426-3.965h-5.459l-1.396 3.965h-2.461l5.341-14.336h2.539l5.342 14.336zm-2.041-5.977l-1.338-3.886q-.147-.391-.405-1.231-.259-.84-.357-1.23-.263 1.201-.771 2.627l-1.289 3.72zM224.436 104.874h1.621q1.631 0 2.363-.605.733-.606.733-1.797 0-1.211-.791-1.738-.791-.528-2.383-.528h-1.543zm0 1.934v5.703h-2.334V98.234h4.033q2.764 0 4.092 1.035 1.328 1.035 1.328 3.125 0 2.666-2.773 3.799l4.033 6.318h-2.656l-3.418-5.703zM268.313 108.634q0 1.904-1.377 2.988t-3.799 1.084q-2.422 0-3.965-.752v-2.207q.977.459 2.076.723 1.098.264 2.045.264 1.387 0 2.046-.528.66-.527.66-1.416 0-.8-.606-1.357-.605-.557-2.5-1.318-1.953-.792-2.754-1.807-.801-1.016-.801-2.442 0-1.787 1.27-2.812 1.269-1.025 3.408-1.025 2.051 0 4.082.898l-.742 1.904q-1.904-.8-3.398-.8-1.133 0-1.719.493-.586.493-.586 1.303 0 .557.234.953.235.395.772.747.537.351 1.933.927 1.573.655 2.305 1.221.732.566 1.074 1.279.342.713.342 1.68zM286.008 112.511h-2.334v-12.275h-4.199v-2.002h10.733v2.002h-4.2zM304.729 104.874h1.621q1.631 0 2.363-.605.733-.606.733-1.797 0-1.211-.791-1.738-.791-.528-2.383-.528h-1.543zm0 1.934v5.703h-2.334V98.234h4.033q2.764 0 4.092 1.035 1.328 1.035 1.328 3.125 0 2.666-2.773 3.799l4.033 6.318h-2.656l-3.418-5.703zM325.178 112.511V98.234h2.334v14.277zM353.176 112.511h-2.861l-7.022-11.377h-.078l.049.635q.137 1.816.137 3.32v7.422h-2.119V98.234h2.832l7.002 11.318h.058q-.019-.225-.078-1.636-.058-1.411-.058-2.202v-7.48h2.138zM372.786 104.767h5.254v7.168q-1.29.42-2.476.596-1.187.175-2.564.175-3.242 0-5-1.919-1.757-1.919-1.757-5.415 0-3.447 1.982-5.395 1.983-1.948 5.459-1.948 2.236 0 4.238.859l-.82 1.943q-1.738-.8-3.477-.8-2.285 0-3.613 1.435-1.328 1.436-1.328 3.926 0 2.617 1.196 3.979 1.197 1.363 3.443 1.363 1.133 0 2.422-.284v-3.681h-2.959zM399.7 108.634q0 1.904-1.377 2.988t-3.799 1.084q-2.422 0-3.965-.752v-2.207q.977.459 2.075.723 1.099.264 2.046.264 1.387 0 2.046-.528.659-.527.659-1.416 0-.8-.605-1.357-.606-.557-2.5-1.318-1.953-.792-2.754-1.807-.801-1.016-.801-2.442 0-1.787 1.27-2.812 1.269-1.025 3.408-1.025 2.051 0 4.082.898l-.742 1.904q-1.905-.8-3.399-.8-1.133 0-1.719.493-.585.493-.585 1.303 0 .557.234.953.234.395.771.747.538.351 1.934.927 1.572.655 2.305 1.221.732.566 1.074 1.279.342.713.342 1.68z")
        path(id="ntension" fill="var(--color-card-footer, currentColor)" d="M355.373 485.717v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.436 0-3.569 1.317-1.133 1.316-1.133 4.347v8.142h-2.35v-15.52h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.417 1.353 1.417 4.326v10.125zM340.632 477.943q0 3.795-1.911 5.926-1.912 2.131-5.282 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.176 2.167 1.918 2.166 1.918 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558 2.309 0 3.505-1.551 1.197-1.55 1.197-4.538 0-2.96-1.197-4.496-1.196-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM322.252 485.717h-2.35v-15.52h2.35zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.567 0 .977.382.411.383.411 1.176 0 .793-.411 1.182-.41.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM316.078 481.483q0 2.166-1.614 3.342Q312.85 486 309.933 486q-3.087 0-4.814-.977v-2.181q1.118.567 2.4.892 1.281.326 2.471.326 1.84 0 2.832-.588.991-.587.991-1.791 0-.906-.786-1.55-.786-.645-3.066-1.523-2.166-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.544-2.995 1.543-1.097 4.233-1.097 2.507 0 4.9 1.02l-.836 1.911q-2.336-.963-4.234-.963-1.67 0-2.52.524-.85.524-.85 1.445 0 .623.319 1.062.319.439 1.027.835.708.397 2.718 1.147 2.762 1.005 3.732 2.025.969 1.019.969 2.563zM298.888 485.717v-10.04q0-1.897-.864-2.832-.863-.934-2.704-.934-2.436 0-3.569 1.317-1.132 1.316-1.132 4.347v8.142h-2.351v-15.52h1.912l.382 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM278.554 486q-3.441 0-5.43-2.096-1.99-2.095-1.99-5.82 0-3.752 1.848-5.961 1.848-2.209 4.963-2.209 2.917 0 4.616 1.919 1.7 1.918 1.7 5.062v1.487H273.57q.071 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.111.234-2.683.234zm-.637-14.118q-1.869 0-2.981 1.218-1.111 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183zM266.773 484.06q.623 0 1.203-.092.581-.092.921-.191v1.798q-.382.184-1.126.305-.743.12-1.338.12-4.503 0-4.503-4.744v-9.232h-2.223v-1.133l2.223-.977.991-3.313h1.36v3.596h4.503v1.827h-4.503v9.133q0 1.402.665 2.153.666.75 1.827.75zM249.243 485.717h-2.351v-22.033h2.351zM240.307 485.717l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.514-.977 1.366-.354 2.74-.354 2.775 0 4.113 1.232 1.338 1.232 1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37v-1.402l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM223.57 485.717v-10.096q0-1.855-.793-2.783-.793-.927-2.464-.927-2.194 0-3.242 1.26t-1.048 3.88v8.666h-2.351v-10.096q0-1.855-.793-2.783-.793-.927-2.478-.927-2.209 0-3.235 1.324-1.027 1.324-1.027 4.34v8.142h-2.351v-15.52h1.912l.382 2.124h.114q.665-1.133 1.876-1.77 1.211-.637 2.712-.637 3.639 0 4.757 2.634h.114q.694-1.218 2.01-1.926 1.317-.708 3.002-.708 2.634 0 3.944 1.352 1.31 1.353 1.31 4.326v10.125zM199.031 469.914q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.884 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35v-15.52h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM187.83 477.943q0 3.795-1.912 5.926-1.911 2.131-5.281 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.175 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558t3.505-1.551q1.196-1.55 1.196-4.538 0-2.96-1.196-4.496-1.197-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM167.255 485.717v-10.04q0-1.897-.864-2.832-.863-.934-2.704-.934-2.436 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351v-15.52h1.912l.382 2.124h.113q.723-1.147 2.025-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125z")
        path(id="xhtension" fill="var(--color-card-footer, currentColor)" d="M376.975 485.717v-10.04q0-1.897-.864-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.35v-15.52h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.416 1.353 1.416 4.326v10.125zM362.234 477.943q0 3.795-1.912 5.926-1.911 2.131-5.281 2.131-2.082 0-3.696-.977-1.614-.977-2.492-2.804-.878-1.826-.878-4.276 0-3.795 1.897-5.912 1.898-2.117 5.268-2.117 3.257 0 5.175 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.19 4.531 1.189 1.558 3.497 1.558t3.505-1.551q1.197-1.55 1.197-4.538 0-2.96-1.197-4.496-1.197-1.536-3.533-1.536-2.308 0-3.483 1.515-1.176 1.515-1.176 4.517zM343.854 485.717h-2.35v-15.52h2.35zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.566 0 .977.382.411.383.411 1.176 0 .793-.411 1.182-.411.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM337.68 481.483q0 2.166-1.614 3.342-1.614 1.175-4.531 1.175-3.087 0-4.815-.977v-2.181q1.119.567 2.401.892 1.281.326 2.47.326 1.841 0 2.833-.588.991-.587.991-1.791 0-.906-.786-1.55-.786-.645-3.066-1.523-2.166-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.543-2.995 1.544-1.097 4.234-1.097 2.507 0 4.9 1.02l-.836 1.911q-2.336-.963-4.234-.963-1.671 0-2.52.524-.85.524-.85 1.445 0 .623.319 1.062.318.439 1.026.835.708.397 2.719 1.147 2.761 1.005 3.731 2.025.97 1.019.97 2.563zM320.49 485.717v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.436 0-3.569 1.317-1.133 1.316-1.133 4.347v8.142h-2.35v-15.52h1.911l.383 2.124h.113q.722-1.147 2.025-1.777 1.303-.63 2.903-.63 2.803 0 4.219 1.352 1.417 1.353 1.417 4.326v10.125zM300.156 486q-3.441 0-5.43-2.096-1.99-2.095-1.99-5.82 0-3.752 1.848-5.961 1.848-2.209 4.963-2.209 2.917 0 4.616 1.919 1.699 1.918 1.699 5.062v1.487h-10.69q.07 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.111.234-2.683.234zm-.637-14.118q-1.869 0-2.981 1.218-1.112 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183zM288.375 484.06q.623 0 1.203-.092.581-.092.921-.191v1.798q-.383.184-1.126.305-.743.12-1.338.12-4.503 0-4.503-4.744v-9.232h-2.223v-1.133l2.223-.977.991-3.313h1.36v3.596h4.502v1.827h-4.502v9.133q0 1.402.665 2.153.666.75 1.827.75zM268.621 483.635h-.127Q266.865 486 263.623 486q-3.045 0-4.737-2.082-1.692-2.081-1.692-5.918 0-3.838 1.699-5.962 1.699-2.124 4.73-2.124 3.157 0 4.843 2.294h.184l-.1-1.119-.056-1.09v-6.315h2.35v22.033h-1.911zm-4.701.397q2.407 0 3.491-1.31 1.083-1.31 1.083-4.227V478q0-3.3-1.098-4.709-1.097-1.409-3.504-1.409-2.068 0-3.165 1.608-1.097 1.607-1.097 4.538 0 2.973 1.09 4.489 1.09 1.515 3.2 1.515zM253.3 469.914q1.034 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.883 0-3.221 1.53-1.339 1.529-1.339 3.809v8.326h-2.35v-15.52h1.94l.269 2.875h.113q.864-1.515 2.082-2.337 1.217-.821 2.676-.821zM239.635 485.717l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.513-.977 1.367-.354 2.74-.354 2.776 0 4.114 1.232t1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37v-1.402l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM222.912 485.717v-10.04q0-1.897-.863-2.832-.864-.934-2.705-.934-2.45 0-3.576 1.331-1.125 1.331-1.125 4.361v8.114h-2.351v-22.033h2.351v6.669q0 1.204-.114 1.997h.142q.694-1.119 1.975-1.763 1.282-.645 2.924-.645 2.847 0 4.27 1.353 1.423 1.352 1.423 4.297v10.125zM198.174 485.717l-.467-2.209h-.113q-1.161 1.458-2.315 1.975-1.154.517-2.882.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.514-.977 1.366-.354 2.74-.354 2.775 0 4.113 1.232 1.338 1.232 1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.254-1.203 1.254-3.37v-1.402l-2.351.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.772.665 2.159.665zM183.873 469.914q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.883 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35v-15.52h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM171.568 484.06q.623 0 1.203-.092.581-.092.921-.191v1.798q-.383.184-1.126.305-.744.12-1.338.12-4.503 0-4.503-4.744v-9.232h-2.223v-1.133l2.223-.977.991-3.313h1.359v3.596h4.503v1.827h-4.503v9.133q0 1.402.666 2.153.665.75 1.827.75zM155.099 477.773l-5.395-7.576h2.677l4.092 5.948 4.078-5.948h2.648l-5.395 7.576 5.678 7.944h-2.662l-4.347-6.287-4.39 6.287h-2.662zM141.647 486q-3.441 0-5.43-2.096-1.99-2.095-1.99-5.82 0-3.752 1.848-5.961 1.848-2.209 4.963-2.209 2.917 0 4.616 1.919 1.7 1.918 1.7 5.062v1.487h-10.691q.071 2.733 1.38 4.149 1.31 1.416 3.689 1.416 2.506 0 4.956-1.048v2.096q-1.246.538-2.357.771-1.112.234-2.684.234zm-.637-14.118q-1.869 0-2.981 1.218-1.111 1.218-1.31 3.37h8.114q0-2.223-.991-3.405-.991-1.183-2.832-1.183z")
        path(id="htension" fill="var(--color-card-footer, currentColor)" d="M336.71 485.717v-10.04q0-1.897-.863-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351v-15.52h1.912l.382 2.124h.114q.722-1.147 2.024-1.777 1.303-.63 2.903-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM321.97 477.943q0 3.795-1.912 5.926-1.912 2.131-5.282 2.131-2.081 0-3.695-.977-1.615-.977-2.493-2.804-.878-1.826-.878-4.276 0-3.795 1.898-5.912 1.897-2.117 5.267-2.117 3.257 0 5.176 2.167 1.919 2.166 1.919 5.862zm-11.824 0q0 2.974 1.189 4.531 1.19 1.558 3.498 1.558 2.308 0 3.505-1.551 1.196-1.55 1.196-4.538 0-2.96-1.196-4.496-1.197-1.536-3.533-1.536-2.308 0-3.484 1.515-1.175 1.515-1.175 4.517zM303.59 485.717h-2.351v-15.52h2.351zm-2.549-19.725q0-.807.397-1.183.396-.375.991-.375.566 0 .977.382.41.383.41 1.176 0 .793-.41 1.182-.411.389-.977.389-.595 0-.991-.389-.397-.389-.397-1.182zM297.416 481.483q0 2.166-1.614 3.342-1.614 1.175-4.531 1.175-3.087 0-4.815-.977v-2.181q1.119.567 2.4.892 1.282.326 2.471.326 1.841 0 2.832-.588.991-.587.991-1.791 0-.906-.785-1.55-.786-.645-3.066-1.523-2.167-.807-3.08-1.409-.913-.601-1.359-1.366-.446-.765-.446-1.827 0-1.897 1.543-2.995 1.543-1.097 4.234-1.097 2.506 0 4.899 1.02l-.835 1.911q-2.337-.963-4.234-.963-1.671 0-2.521.524-.849.524-.849 1.445 0 .623.318 1.062.319.439 1.027.835.708.397 2.719 1.147 2.761 1.005 3.731 2.025.97 1.019.97 2.563zM280.226 485.717v-10.04q0-1.897-.864-2.832-.864-.934-2.705-.934-2.435 0-3.568 1.317-1.133 1.316-1.133 4.347v8.142h-2.351v-15.52h1.912l.382 2.124h.114q.722-1.147 2.025-1.777 1.302-.63 2.902-.63 2.804 0 4.22 1.352 1.416 1.353 1.416 4.326v10.125zM259.892 486q-3.441 0-5.431-2.096-1.989-2.095-1.989-5.82 0-3.752 1.848-5.961 1.847-2.209 4.963-2.209 2.917 0 4.616 1.919 1.699 1.918 1.699 5.062v1.487h-10.691q.071 2.733 1.381 4.149t3.689 1.416q2.506 0 4.956-1.048v2.096q-1.246.538-2.358.771-1.112.234-2.683.234zm-.638-14.118q-1.869 0-2.98 1.218-1.112 1.218-1.31 3.37h8.114q0-2.223-.992-3.405-.991-1.183-2.832-1.183zM248.11 484.06q.623 0 1.204-.092t.92-.191v1.798q-.382.184-1.125.305-.744.12-1.338.12-4.503 0-4.503-4.744v-9.232h-2.224v-1.133l2.224-.977.991-3.313h1.359v3.596h4.503v1.827h-4.503v9.133q0 1.402.666 2.153.665.75 1.826.75zM228.357 483.635h-.128Q226.601 486 223.358 486q-3.044 0-4.736-2.082-1.692-2.081-1.692-5.918 0-3.838 1.699-5.962 1.699-2.124 4.729-2.124 3.158 0 4.843 2.294h.184l-.099-1.119-.057-1.09v-6.315h2.351v22.033h-1.912zm-4.701.397q2.407 0 3.49-1.31 1.083-1.31 1.083-4.227V478q0-3.3-1.097-4.709-1.097-1.409-3.505-1.409-2.067 0-3.164 1.608-1.098 1.607-1.098 4.538 0 2.973 1.091 4.489 1.09 1.515 3.2 1.515zM213.036 469.914q1.033 0 1.855.17l-.326 2.181q-.963-.213-1.699-.213-1.884 0-3.222 1.53-1.338 1.529-1.338 3.809v8.326h-2.35v-15.52h1.94l.269 2.875h.113q.864-1.515 2.081-2.337 1.218-.821 2.677-.821zM199.371 485.717l-.467-2.209h-.113q-1.162 1.458-2.316 1.975-1.154.517-2.881.517-2.308 0-3.618-1.189-1.31-1.19-1.31-3.385 0-4.701 7.519-4.927l2.634-.085v-.963q0-1.827-.786-2.698t-2.513-.871q-1.94 0-4.39 1.19l-.722-1.799q1.147-.623 2.513-.977 1.367-.354 2.74-.354 2.776 0 4.114 1.232t1.338 3.951v10.592zm-5.31-1.657q2.195 0 3.448-1.204 1.253-1.203 1.253-3.37v-1.402l-2.35.1q-2.804.099-4.043.87-1.239.772-1.239 2.401 0 1.274.772 1.94.771.665 2.159.665zM182.648 485.717v-10.04q0-1.897-.864-2.832-.864-.934-2.704-.934-2.45 0-3.576 1.331t-1.126 4.361v8.114h-2.35v-22.033h2.35v6.669q0 1.204-.113 1.997h.142q.694-1.119 1.975-1.763 1.282-.645 2.924-.645 2.846 0 4.269 1.353 1.424 1.352 1.424 4.297v10.125z")
        rect(id="otl-logo-txt" x="91" y="25" height="90" width="330" fill="none" stroke="lime" stroke-width="1")
        rect(id="otl-logo" x="65" y="123" height="335" width="384" fill="none" stroke="lime" stroke-width="1")
        



section#section3
  p Section 3
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis lacus metus. Vestibulum consequat augue sed magna ullamcorper lacinia. In iaculis augue augue, at sollicitudin nibh rutrum nec. Integer posuere, mauris sed feugiat porta, urna libero dapibus nulla, sit amet dictum quam lorem nec est. Maecenas ullamcorper lorem vitae nisi posuere, quis consectetur sem auctor. Quisque velit justo, congue et diam eu, hendrerit tristique lorem. Etiam vehicula, neque vel efficitur pulvinar, metus eros volutpat ligula, nec aliquet dolor leo ut nulla. Quisque sollicitudin faucibus eros, id dictum diam convallis ut.
  p Mauris eget gravida augue. Mauris pharetra non ex nec scelerisque. Sed et ultricies neque, id faucibus dui. Aliquam posuere euismod tellus in elementum. Ut commodo leo ornare, euismod felis vel, mollis ante. Cras vestibulum, elit eget condimentum bibendum, justo lectus venenatis ex, sit amet posuere lacus est id elit. Vestibulum fringilla elit tortor, eget luctus dui ornare ac. Etiam volutpat dui ut sapien fermentum consequat. Vestibulum vitae dolor faucibus, eleifend neque in, varius elit. Quisque non sodales justo, in luctus mauris. Aenean fermentum magna id elementum ornare. Fusce eu bibendum lorem.
  p Vestibulum facilisis ante in mollis tristique. Maecenas lacinia, arcu eu lacinia scelerisque, risus leo efficitur nulla, pharetra euismod urna urna non nunc. Proin pellentesque, justo eu interdum tincidunt, lorem nisi accumsan dolor, at ultricies ex odio id nibh. Donec vel libero eget enim gravida semper. Maecenas vulputate odio vel lorem egestas interdum. Ut faucibus erat at justo sodales, sit amet lobortis nibh ornare. Mauris aliquet ex justo, vitae vehicula tellus maximus id. Nulla non euismod eros. Nam porttitor pulvinar dolor, sed consequat augue. Phasellus felis risus, aliquam ac condimentum sed, vestibulum non elit. Sed elementum bibendum tellus sit amet pulvinar.
  p  Nullam laoreet turpis arcu, in iaculis mauris varius ultrices. Donec suscipit eleifend tortor, sit amet tristique magna commodo ac. Maecenas maximus purus lorem, at pellentesque ipsum auctor eget. Fusce molestie magna ac porttitor porta. Fusce ante urna, commodo eget commodo a, lacinia convallis tellus. Vivamus interdum eu augue non blandit. Nam ante tellus, dapibus ut ipsum vel, tincidunt laoreet urna. In sit amet pellentesque mauris, sit amet aliquet magna. In rutrum non sapien ut tincidunt. Praesent non nibh efficitur, malesuada velit vel, placerat purus. Etiam eget dui nec ligula condimentum ultrices.
  p Phasellus nibh libero, mollis et porta sit amet, lacinia id ligula. Duis sed felis et sem porttitor pharetra. Nulla volutpat sollicitudin magna, eget gravida dolor fringilla sed. Praesent ut ipsum ipsum. Quisque posuere sodales orci sit amet rhoncus. Proin feugiat orci ut turpis euismod condimentum vel tempor lorem. Etiam accumsan elit in magna sollicitudin convallis. In hac habitasse platea dictumst. Curabitur facilisis libero a sagittis vestibulum. Fusce a magna vitae libero molestie tincidunt et fermentum nulla. Donec pretium dolor ut metus porttitor, ac sollicitudin ante consectetur. Duis gravida vehicula ex, ut gravida nunc aliquam ac. Vestibulum auctor magna sit amet convallis porttitor. Nullam pretium vel dolor id sodales. Etiam mattis semper dolor.

  form#form(action="https://www.freecodecamp.com/email-submit" method="post")
    label(for="email") Email: 
    input#email(type='email' name='email' placeholder='Email' required)
    input#submit(type='submit')



footer(style='min-height:30px; width:100%;margin-top:30px;')


  //- ===== Image attributions =============

  p(style='font-size: 0.9rem;font-style: italic;')
    a(href='https://www.flickr.com/photos/39400957@N03/12256046533') "Jason Mraz & Raining Jane at NAMM 1/25/2014 #17" 
    .
      and 
    a(href='https://www.flickr.com/photos/39400957@N03/11476390335') "Rebecca Pidgeon 12/20/2013 #2" 
    span by #[a(href='https://www.flickr.com/photos/39400957@N03') jus10h ]
    .
     are licensed under 
    a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html' style='margin-right: 5px;') CC BY 2.0
    a(href='https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html' target='_blank' rel='noopener noreferrer' style='display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;')
      img(src='https://search.creativecommons.org/static/img/cc_icon.svg' style='height: inherit;margin-right: 3px;display: inline-block;')
      img(src='https://search.creativecommons.org/static/img/cc-by_icon.svg' style='height: inherit;margin-right: 3px;display: inline-block;')
  

  p(style="font-size: 0.9rem;font-style: italic;")
    a(href="https://www.flickr.com/photos/52498302@N08/37694010252") "Gabriela Battistini - Cierre Guitarras Del Mundo 2017" 
    .
      and 
    a(href="https://www.flickr.com/photos/52498302@N08/37677776826") "Eduardo Fernández - Cierre Guitarras Del Mundo 2017" 
    span by #[a(href="https://www.flickr.com/photos/52498302@N08") Ministerio de Cultura de la Nación ]
    .
     are licensed under 
    a(href="https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html" style='margin-right: 5px;') CC BY-SA 2.0 
    a(href="https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html" target='_blank' rel='noopener noreferrer' style='display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;')
      img(src="https://search.creativecommons.org/static/img/cc_icon.svg" style='height: inherit;margin-right: 3px;display: inline-block;')
      img(src="https://search.creativecommons.org/static/img/cc-by_icon.svg" style='height: inherit;margin-right: 3px;display: inline-block;')
      img(src="https://search.creativecommons.org/static/img/cc-sa_icon.svg" style='height: inherit;margin-right: 3px;display: inline-block;')
  
  p(style="font-size: 0.9rem;font-style: italic;")
    a(href="https://www.flickr.com/photos/61769013@N06/5676875263") "Homenajes Sonoros - Piazzolla" 
    span by #[a(href="https://www.flickr.com/photos/61769013@N06") Gescaem], 
    a(href="https://www.flickr.com/photos/129072575@N05/48994864191") "Jueves Flamencos de la Fundación Cajasol en Sevilla: Juan Carlos Romero (10)" 
    span by #[a(href="https://www.flickr.com/photos/129072575@N05") fundacioncajasol], 
    .
      and 
    a(href="https://www.flickr.com/photos/65219527@N06/11186848285") "Luis Regidor in the Scoring Studio" 
    span by #[a(href="https://www.flickr.com/photos/65219527@N06") Berklee Valencia Campus ]
    .
      are licensed under 
    a(href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;") CC BY-NC-ND 2.0
    a(href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;")
      img(style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg")
      img(style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg")
      img(style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg")
      img(style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-nd_icon.svg")
  

button#custom_fcc_foldout_toggler !{svgPwrSymbol} TEST

